.e-customer-content {
  margin-left: 30px;
  top: 216px;
  border-right: none;
  color: #fff;
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
}

.e-configuration-product-container {
  background: rgba(13, 43, 80, 0.75);
  border: 1px solid #f58220;
  border-radius: 9px;
}

.e-configuritaion-product-info {
  border-bottom: 1px solid #f58220;
}

.e-confirugration-product-label {
  height: 20.68px;
  min-width: none;
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 23px;
  padding: 0px !important;
  margin: 0px;
  text-align: left !important;
  color: #ffffff;
}

.e-configuritaion-product-info span {
  width: 532px;
  height: 33.27px;

  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 23px;

  color: #ffffff;
}

::ng-deep .main-box {
  height: auto !important;
}
.table-hidden tr .selection {
  background-color: #6188b8 !important;
  background: #6188b8 !important;
}
.e-configuritaion-product-info2 {
  border: 1px solid #f58220;
  padding: 10px;
  border-radius: 9px;
  background: rgba(13, 43, 80, 0.75);
}
.selected {
  background-color: #1a4981;
}

.e-address-desc {
  display: flex;
  width: 100%;
  height: 181px;
  background: #0d2b50;
  border: 1px solid rgba(245, 130, 32, 0.8);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: #ffffff;
}
.table-title {
  background-color: #191847;
  font-family: 'Anybody';
  font-size: 14px;
}
.table-body {
  background-color: #2a5183;
}

.e-new-address {
  background-color: #061f3e;
}
.e-new-address-btn {
  background-color: transparent;
  border: none;
  color: #fff;
}
.e-customer-content1 table {
  border: 2px solid #f58220;
  color: #fff;
}
::ng-deep .main-box {
  height: auto !important;
}
