<div class="e-create-customer-table">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="col-12 app-user-info">
          <app-user-info></app-user-info>
        </div>
      </div>
      <div class="col-12 col-lg-9 d-flex justify-content-end p-0">
        <app-settings-menu></app-settings-menu>
      </div>
    </div>
    <div class="bar-menu">
      <app-bar-menu></app-bar-menu>
    </div>
  </div>

  <app-main-layout [layoutTitle]="'Contact Medium'">
    <div class="p-5"></div>
    <div class="e-customer-content">
      <div class="d-flex justify-content-center">
        <form
          *ngIf="updateCustomerContactForm"
          [formGroup]="updateCustomerContactForm"
          class="p-4"
        >
          <div class="row">
            <div class="row d-flex justify-space-between align-items-center">
              <div class="col-6">
                <div class="form-group row p-2">
                  <div class="col-5">
                    <label for="email" class="d-flex align-items-center h-75"
                      >Email<span class="e-star">*</span></label
                    >
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      etiyaInput="dark"
                      formControlName="email"
                      [ngClass]="{
                        'e-invalid-input':
                          isShow &&
                          updateCustomerContactForm.controls['email'].errors
                      }"
                    />
                    <small
                      *ngIf="isShow && f['email'].errors?.['required']"
                      id="email-help"
                      class="p-error block ng-invalid ng-dirty mt-0"
                      etiyaError="error-text"
                    >
                      Required areas must be entered
                    </small>
                    <small
                      *ngIf="isShow && f['email'].errors?.['pattern']"
                      id="email-help"
                      class="p-error block ng-invalid ng-dirty mt-0"
                      etiyaError="error-text"
                    >
                      Information entered is incorrect !
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-6 form-group">
                <div class="form-group row p-2">
                  <div class="col-5">
                    <label
                      for="homePhone"
                      class="d-flex align-items-center h-75"
                      >Home Phone</label
                    >
                  </div>
                  <div class="col-7">
                    <input
                      type="number"
                      etiyaInput="dark"
                      formControlName="homePhone"
                      onKeyPress="if(this.value.length==11) return false;"
                    />
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group row p-2">
                  <div class="col-5">
                    <label
                      for="mobilePhone"
                      class="d-flex align-items-center h-75"
                      >Mobile Phone<span class="e-star">*</span></label
                    >
                  </div>
                  <div class="col-7">
                    <input
                      type="number"
                      etiyaInput="dark"
                      formControlName="mobilePhone"
                      onKeyPress="if(this.value.length==10) return false;"
                      [ngClass]="{
                        'e-invalid-input':
                          isShow &&
                          updateCustomerContactForm.controls['mobilePhone']
                            .errors
                      }"
                    />
                    <small
                      *ngIf="
                        isShow &&
                        updateCustomerContactForm.controls['mobilePhone'].errors
                      "
                      id="mobilePhone-help"
                      class="p-error block ng-invalid ng-dirty e-error-msg"
                      etiyaError="error-text"
                    >
                      Required areas must be entered
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row p-2">
                  <div class="col-5">
                    <label
                      for="faxNumber"
                      class="d-flex align-items-center h-75"
                      >Fax</label
                    >
                  </div>
                  <div class="col-7">
                    <input
                      type="number"
                      etiyaInput="dark"
                      formControlName="fax"
                      onKeyPress="if(this.value.length==13) return false;"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <div style="width: 1125px" class="row p-0 pt-4">
              <div class="col-6 d-flex justify-content-lg-start">
                <button
                  etiyaButton="clear"
                  [routerLink]="
                    '/dashboard/customers/customer-contact-medium/' +
                    selectedCustomerId
                  "
                >
                  CANCEL
                </button>
              </div>
              <div class="col-6 d-flex justify-content-lg-end">
                <button etiyaButton="clear" (click)="update()">SAVE</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </app-main-layout>
</div>
