.app-user-info {
  width: 264px;
}

.e-search-container {
  margin: 65px 0px 0px 25px;
  height: 100vh !important;
}

::ng-deep .table.e-table .table-body tr th a {
  cursor: pointer;
  color: #f58220;
  border-bottom: 2px solid #f58220;
}
.table-title th:first-child {
  color: #f58220 !important;
}
