<div class="e-search-container">
  <div class="e-title-container">
    <h3 class="e-search-title m-4">{{ filterTitle }}</h3>
    <span class="verticalLine"></span> <span class="horizontalLine"></span>
    <h5 class="e-search-title-mini mt-5 ml-5">Search Filter</h5>
    <span class="mini-verticalLine"></span>
    <span class="mini-horizontalLine"></span>
  </div>

  <div class="e-input-container">
    <form [formGroup]="searchForm">
      <label class="e-label mt-4">Nationality ID</label>
      <input
        type="number"
        etiyaInput="dark"
        class="e-filter-input"
        formControlName="nationalityId"
        (keypress)="isNumberId($event)"
        onKeyPress="if(this.value.length==11) return false;"
        #nationalityId
      />

      <label class="e-label">Customer ID</label>
      <input
        type="number"
        etiyaInput="dark"
        class="e-filter-input"
        formControlName="customerId"
        (keypress)="isNumberId($event)"
        onKeyPress="if(this.value.length==10) return false;"
        #customerId
      />

      <label class="e-label">Account Number</label>
      <input
        type="number"
        etiyaInput="dark"
        class="e-filter-input"
        formControlName="accountNumber"
        (keypress)="isNumberId($event)"
        onKeyPress="if(this.value.length==10) return false;"
        #accountNumber
      />

      <label class="e-label">GSM Number</label>
      <input
        type="text"
        etiyaInput="dark"
        class="e-filter-input"
        formControlName="gsmNumber"
        mask="(000) 000-0000"
        #gsmNumber
      />

      <label class="e-label">First Name</label>
      <input
        type="text"
        etiyaInput="dark"
        class="e-filter-input"
        formControlName="firstName"
        maxlength="50"
        #firstName
      />

      <label class="e-label">Last Name</label>
      <input
        type="text"
        etiyaInput="dark"
        class="e-filter-input"
        formControlName="lastName"
        maxlength="50"
        #lastName
      />

      <label class="e-label">Order Number</label>
      <input
        type="number"
        etiyaInput="dark"
        class="e-filter-input"
        formControlName="orderNumber"
        (keypress)="isNumberId($event)"
        onKeyPress="if(this.value.length==16) return false;"
        #orderNumber
      />
    </form>
  </div>
  <div class="e-btn-container">
    <button type="button" etiyaButton="clear" (click)="clear()">CLEAR</button>
    <button
      type="button"
      etiyaButton="search"
      (click)="search()"
      [disabled]="
        nationalityId.value.length === 0 &&
        customerId.value.length === 0 &&
        accountNumber.value.length === 0 &&
        gsmNumber.value.length === 0 &&
        firstName.value.length === 0 &&
        lastName.value.length === 0 &&
        orderNumber.value.length === 0
      "
    >
      SEARCH<img
        etiyaButton="img-search"
        src="../assets/img/search-btn-logo.png"
      />
    </button>
  </div>
  <div class="e-btn-container">
    <button
      etiyaButton="create"
      class="e-btn-create-customer"
      routerLink="/dashboard/customers/create-customer"
    >
      <img
        etiyaButton="create-logo"
        src="./assets/img/create_btn_logo.png"
      />CREATE CUSTOMER
    </button>
  </div>
</div>
