<div class="e-create-customer-table">
  <app-navbar></app-navbar>
  <div class="container-fluid mb-1">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="col-12 app-user-info">
          <app-user-info></app-user-info>
        </div>
      </div>
      <div class="col-12 col-lg-9 d-flex justify-content-end p-0">
        <app-settings-menu></app-settings-menu>
      </div>
    </div>
    <div class="bar-menu">
      <app-bar-menu></app-bar-menu>
    </div>
  </div>

  <app-main-layout [layoutTitle]="'Customer Info'">
    <label class="ml-5 mt-3">Update Info </label>

    <div class="p-4"></div>
    <div class="e-customer-content">
      <div class="d-flex justify-content-center">
        <form
          *ngIf="updateCustomerForm"
          [formGroup]="updateCustomerForm"
          class="p-4"
        >
          <div class="row">
            <div class="row d-flex justify-space-between align-items-center">
              <div class="col-6">
                <div class="form-group row p-2">
                  <div class="col-5">
                    <label
                      class="d-flex align-items-center h-75"
                      for="first-name"
                      >First Name<span class="e-star">*</span></label
                    >
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      etiyaInput="dark"
                      formControlName="firstName"
                      maxlength="50"
                      [ngClass]="{
                        'e-invalid-input':
                          isShow &&
                          updateCustomerForm.controls['firstName'].errors
                      }"
                    />
                    <small
                      *ngIf="
                        isShow &&
                        updateCustomerForm.controls['firstName'].errors
                      "
                      id="firstName-help"
                      class="p-error block ng-invalid ng-dirty"
                      etiyaError="error-text"
                    >
                      Required areas must be entered
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-6 form-group">
                <div class="form-group row p-2">
                  <div class="col-5">
                    <label
                      class="d-flex align-items-center h-75"
                      for="middleName"
                      >Middle Name</label
                    >
                  </div>
                  <div class="col-7">
                    <input
                      type="text "
                      etiyaInput="dark"
                      formControlName="middleName"
                      maxlength="50"
                    />
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group row p-2">
                  <div class="col-5">
                    <label class="d-flex align-items-center h-75" for="lastName"
                      >Last Name<span class="e-star">*</span></label
                    >
                  </div>
                  <div class="col-7">
                    <input
                      type="text "
                      etiyaInput="dark"
                      formControlName="lastName"
                      maxlength="50"
                      [ngClass]="{
                        'e-invalid-input':
                          isShow &&
                          updateCustomerForm.controls['lastName'].errors
                      }"
                    />
                    <small
                      *ngIf="
                        isShow && updateCustomerForm.controls['lastName'].errors
                      "
                      id="lastName-help"
                      class="p-error block ng-invalid ng-dirty"
                      etiyaError="error-text"
                    >
                      Required areas must be entered
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row p-2">
                  <div class="col-5">
                    <label
                      class="d-flex align-items-center h-75"
                      for="birthDate"
                      >Birth Date<span class="e-star">*</span></label
                    >
                  </div>
                  <div class="col-7">
                    <input
                      type="date"
                      min="1900-01-01"
                      etiyaInput="dark"
                      formControlName="birthDate"
                      [max]="today | date: 'yyyy-MM-dd'"
                      (blur)="onDateChange($event)"
                      [ngClass]="{
                        'e-invalid-input':
                          isShow &&
                          updateCustomerForm.controls['birthDate'].errors
                      }"
                    />
                    <small
                      *ngIf="
                        isShow &&
                        updateCustomerForm.controls['birthDate'].errors &&
                        !futureDate
                      "
                      class="p-error block ng-invalid ng-dirty"
                      etiyaError="error-text"
                    >
                      Required areas must be entered
                    </small>
                    <small
                      *ngIf="futureDate"
                      class="p-error block ng-invalid ng-dirty"
                      etiyaError="error-text"
                    >
                      Please enter a valid date of birth
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div
                  class="form-group d-flex justify-content-lg-start align-items-center"
                >
                  <div class="col-5">
                    <label class="d-flex align-items-center h-75" for="gender"
                      >Gender<span class="e-star">*</span></label
                    >
                  </div>
                  <div class="col-7">
                    <div class="e-dropdown p-0">
                      <select
                        name="gender"
                        id="gender"
                        class="p-2"
                        formControlName="gender"
                        [ngClass]="{
                          'e-invalid-input':
                            isShow &&
                            updateCustomerForm.controls['gender'].errors
                        }"
                      >
                        <option selected disabled value="">Select</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                    <small
                      *ngIf="
                        isShow && updateCustomerForm.controls['gender'].errors
                      "
                      id="gender-help"
                      class="p-error block ng-invalid ng-dirty"
                      etiyaError="error-text"
                    >
                      Required areas must be entered
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row p-2">
                  <div class="col-5">
                    <label
                      class="d-flex align-items-center h-75"
                      for="fatherName"
                    >
                      Father Name:</label
                    >
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      etiyaInput="dark"
                      formControlName="fatherName"
                      maxlength="50"
                    />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row p-2">
                  <div class="col-5">
                    <label
                      class="d-flex align-items-center h-75"
                      for="motherName"
                      >Mother Name:</label
                    >
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      etiyaInput="dark"
                      formControlName="motherName"
                      maxlength="50"
                    />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row p-2">
                  <div class="col-5">
                    <label
                      class="d-flex align-items-center h-75"
                      for="nationalId"
                      >Nationality ID<span class="e-star">*</span></label
                    >
                  </div>
                  <div class="col-7">
                    <input
                      type="number"
                      etiyaInput="dark"
                      formControlName="nationalityId"
                      onKeyPress="if(this.value.length==11) return false;"
                      [ngClass]="{
                        'e-invalid-input':
                          isShow &&
                          updateCustomerForm.controls['nationalityId'].errors
                      }"
                    />
                    <small
                      *ngIf="
                      isShow && updateCustomerForm.controls['nationalityId'].errors?.['required']
                    "
                      id="nationalityId-help"
                      class="p-error block ng-invalid ng-dirty"
                      etiyaError="error-text"
                    >
                      Required areas must be entered
                    </small>
                    <small
                      *ngIf="
                    isShow && updateCustomerForm.controls['nationalityId'].errors?.['pattern']
                  "
                      id="nationalityId-help"
                      class="p-error block ng-invalid ng-dirty"
                      etiyaError="error-text"
                    >
                      You must entered 11 digits
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div style="width: 1125px" class="row p-0 pt-4">
              <div class="col-6 d-flex justify-content-lg-start">
                <button
                  etiyaButton="clear"
                  [routerLink]="
                    '/dashboard/customers/customer-info/' + selectedCustomerId
                  "
                >
                  CANCEL
                </button>
              </div>
              <div class="col-6 d-flex justify-content-lg-end">
                <button etiyaButton="clear" (click)="update()">SAVE</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </app-main-layout>
</div>
